/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos generales del cuerpo del documento */
body {
    font-family: -apple-system;
    font-weight: bold;
    background-color: black;
    color: black;
    font-size: 12px;
}

/* Estilos para el encabezado */
#encabezado {
    background-color: #3498db;
    color: black;
    text-align: center;
    padding: 20px;
}

#encabezado h1 {
    margin-bottom: 10px;
}

/* Estilos para el contenedor principal */
#contenedor {
    width: 80%;
    margin: 20px auto;
    background-color: #3498db;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección de entrada de datos */
.sexo-options {
    display: flex;
    align-items: center;
}

.sexo-options .sexo {
    display: flex;
    align-items: center;
}

.sexo-options input[type="radio"] {
    margin-right: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    background-color: #3498db;
    padding: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #3498db;
    font-weight: bold;
}

/* Estilos para el pie de página */
#pie {
    clear: both;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    background-color: black;
    color: #3498db;
}

/* Estilos para el pie de página */
#imagenNivel {
    border: 2px solid black;
    border-radius: 5px;
}

/* Estilos para los botones */
button {
    background-color: black;
    color: #3498db;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #3498db;
    color: black;
}
